{
  // eslintのおすすめ設定
  "extends": "eslint:recommended",
  "parserOptions": {
    // ES2016 以降の構文を有効にする
    "ecmaVersion": 6,
    // コードをモジュールとして扱う
    "sourceType": "module"
  },
  "env": {
    // ブラウザのグローバル変数を有効にする(alert,document,consoleなど)
    "browser": true,
    // jQueryのグローバル変数$を有効にする
    "jquery": true
  },
  rules: {
    // no-consoleルールを無視する(off or warn or error)
    "no-console": "off"
  }
}
